
<section class="copyright bg-white">
  <div class="container copyright">

  <div class="row">    

      <div class="col text-secondary d-none d-sm-block">
      <p class="copyright-txt text-secondary">Copyright © 2018 ACE Cash Express, Inc. All rights reserved.</p>  
      </div>
        
  </div>

  <div class="row">
	<div class="col mx-auto d-sm-none mt-5">
	<img src="img/facebook-gray.svg" class="img-fluid" alt="Facebook">	

  	</div>

  </div>
  	
  <div class="row">    
  
     <div class="col text-secondary d-sm-none">
      <p class="copyright-txt text-secondary">Copyright © 2018 ACE Cash Express, Inc.<br/>All rights reserved.</p>  
      </div>
        
  </div>

  </div>


</section>
