
<section class="copyright border-top">
  <div class="container copyright">

  <div class="row">
      
      <div class="col-2">
        <a href="https://www.acecashexpress.com/" target="_blank">
            <img src="img/footer-logo.svg" class="img-fluid footer-icn ace-logo" alt="ACE Cash Express">
        </a> 
      </div>

      <div class="col-8">
      <p class="copyright-txt">Copyright © 2018 ACE Cash Express, Inc. All rights reserved.</p>  
      </div>

      <div class="col-2">
        <a href="http://www.facebook.com/acecashexpress" target="_blank">
            <img src="img/facebook.svg" class="img-fluid footer-icn facebook-icn" alt="Facebook">
        </a> 
         
        
      </div>

  </div>


</section>
