<!-- Footer -->

<footer class="bg-white">
  <div class="container ">

    <!--Footer Icon Section -->
    <div class="row footer-bg">
      
      <div class="col footer-block">
          <a href="#">
            <img src="img/icn-sign-birthday-home.svg" class="img-fluid footer-icn active hvr-bob" alt="Sign Our Birthday Card">
          </a>  
              <a href="#" class="footer-links"alt="">
                <p class="text-secondary">Sign Our<br/>Birthday Card</p>
              </a>
      </div>

      <div class="col footer-block">
        <a href="#">
          <img src="img/icn-birthday.svg" class="img-fluid footer-icn hvr-bob" alt="View Our Birthday Wishes">
        </a>  
            <a href="#" class="footer-links"alt="">
                <p class="text-secondary" class="text-secondary">View Our<br/>Birthday Wishes</p>
            </a>
      </div>

      <div class="col footer-block">
        <a href="#">
          <img src="img/icn-ace-story.svg" class="img-fluid footer-icn hvr-bob" alt="Tell Us Your ACE Story">
        </a>  
            <a href="#" class="footer-links"alt="">
                <p class="text-secondary">Tell Us Your<br/>ACE Story</p>
            </a>
      </div>

      <div class="col footer-block">
        <a href="#">
          <img src="img/icn-watch-video.svg" class="img-fluid footer-icn hvr-bob" alt="Watch Video Testimonials">
        </a>  
            <a href="#" class="footer-links"alt="">
                <p class="text-secondary">Watch Video<br/>Testimonials</p>
            </a>
      </div>

      <div class="col footer-block">
        <a href="#">
          <img src="img/icn-ace-50yrs.svg" class="img-fluid footer-icn hvr-bob" alt="The History of ACE Cash Express">
        </a>  
            <a href="#" class="footer-links"alt="">
                <p class="text-secondary">The History of<br/>ACE Cash Express</p>
            </a>
      </div>


    </div>


    
  </div>
</footer>
