<!-- Footer -->
<div class="row footer-bg-svg">
        

<svg class="d-none d-sm-block" width="100%" height="100%" viewBox="0 0 2870 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Desktop---XL" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon id="Rectangle-Copy-5" fill="#0A9A5D" points="0 94.6302108 1440.12939 0 2880 94.6302108 2880 107 0 107"></polygon>
    </g>
</svg>
      </div>
<footer class="d-none d-sm-block">
  <div class="container">

    <!--Footer Icon Section -->
    <div class="row footer-bg">
      
      <div class="col footer-block">
          <a href="{{"/" | relative_url }}">
            <img src="img/icn-sign-birthday.svg" class="img-fluid footer-icn active hvr-bob" alt="Sign Our Birthday Card">
          </a>  
              <a class="footer-links" href="{{"/" | relative_url }}" class="footer-links"alt="">
                <p>Sign Our<br/>Birthday Card</p>
              </a>
      </div>

      <div class="col footer-block">
        <a href="{{"/view-our-birthday-wishes" | relative_url }}">
          <img src="img/icn-birthday.svg" class="img-fluid footer-icn hvr-bob" alt="View Our Birthday Wishes">
        </a>  
            <a href="{{"/view-our-birthday-wishes" | relative_url }}" class="footer-links gray-text"alt="">
                <p>View Our<br/>Birthday Wishes</p>
            </a>
      </div>

      <div class="col footer-block">
        <a data-toggle="modal" data-dismiss="modal" data-target="#boast-modal">
          <img src="img/icn-ace-story.svg" class="img-fluid footer-icn hvr-bob" alt="Submit Your ACE Story">
        </a>  
            <a data-toggle="modal" data-dismiss="modal" data-target="#boast-modal" class="footer-links"alt="">
                <p>Submit Your<br/>ACE Story</p>
            </a>
      </div>

      <div class="col footer-block">
        <a href="{{"/ace-story" | relative_url }}">
          <img src="img/icn-watch-video.svg" class="img-fluid footer-icn hvr-bob" alt="View Your Ace Stories">
        </a>  
            <a href="{{"/ace-story" | relative_url }}" class="footer-links"alt="">
                <p>View Your<br/>Ace Stories</p>
            </a>
      </div>

      <div class="col footer-block">
        <a href="{{"/ace-history" | relative_url }}">
          <img src="img/icn-ace-50yrs.svg" class="img-fluid footer-icn hvr-bob" alt="The History of ACE Cash Express">
        </a>  
            <a href="{{"/ace-history.html" | relative_url }}" class="footer-links"alt="">
                <p>The History of<br/>ACE Cash Express</p>
            </a>
      </div>


    </div>


    
  </div>
</footer>
