<!-- Mobile Navigation -->





<nav class="navbar fixed-top">
  <a class="navbar-brand" href="https://www.acecashexpress.com/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
          <a href="{{"/" | relative_url }}">
            <img src="img/icn-sign-birthday-home.svg" class="img-fluid footer-icn active hvr-bob" alt="Sign Our Birthday Card">
          </a>   
        <a class="nav-link" href="{{"/" | relative_url }}"><p>Sign Our Birthday Card</p></a>
      </li>

      <li class="nav-item active">
          <a href="{{"/view-our-birthday-wishes.html" | relative_url }}">
            <img src="img/icn-birthday.svg" class="img-fluid footer-icn hvr-bob" alt="View Our Birthday Wishes">
          </a>  
        <a class="nav-link" href="{{"/view-our-birthday-wishes.html" | relative_url }}"><p>View Our Birthday Wishes</p></a>
      </li>

      <li class="nav-item active">
          <a href="{{"/#" | relative_url }}">
            <img src="img/icn-ace-story.svg" class="img-fluid footer-icn hvr-bob" alt="Tell Us Your ACE Story">
          </a>  
        <a class="nav-link" href="{{"/#" | relative_url }}""><p>Tell Us your Story</p></a>
      </li>
      
      <li class="nav-item active">
          <a href="{{"/ace-story.html" | relative_url }}">
            <img src="img/icn-watch-video.svg" class="img-fluid footer-icn hvr-bob" alt="Watch Video Testimonials">
          </a>  
        <a class="nav-link" href="{{"/ace-story.html" | relative_url }}"><p>Watch Video Testimonials</p></a>
      </li>

      <li class="nav-item active">
          <a href="{{"/ace-history.html" | relative_url }}">
            <img src="img/icn-ace-50yrs.svg" class="img-fluid footer-icn hvr-bob" alt="The History of ACE Cash Express">
          </a>  
        <a class="nav-link" href="{{"/ace-history.html" | relative_url }}"><p>The History of ACE Cash Express</p></a>
      </li>
  
    </ul>
  
  </div>
</nav>