
<section class="copyright border-bottom d-none d-sm-block" >
  <div class="container copyright">

  <div class="row">
      
      <div class="col-6 nav-logo">
        <a href="https://www.acecashexpress.com/" target="_blank">
            <img src="img/footer-logo.svg" class="float-left img-fluid" alt="ACE Cash Express">
        </a> 
      </div>

      <div class="col-6 nav-facebook">
        <a href="http://www.facebook.com/acecashexpress" target="_blank">
            <img src="img/facebook.svg" class="img-fluid float-right facebook-icn" alt="Facebook">
        </a> 
         
        
      </div>

  </div>


</section>

