---
layout: template
---

<!-- Page Header -->

    <div class="bg-new pb-4" style="margin-top:50px;">

        {{ content }}
      
      </div>

  
   <!-- Footer -->
<div class="row footer-bg-svg">
        

<svg class="z-index" width="100%" height="100%" viewBox="0 0 2870 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <polygon id="Rectangle-Copy-5" fill="#0A9A5D" points="0 94.6302108 1440.12939 0 2880 94.6302108 2880 107 0 107"></polygon>
    
</svg>
      </div>

<footer class="bg-white d-none d-sm-block">
  <div class="container">

    <!--Footer Icon Section -->
    <div class="row footer-bg">
      
      <div class="col footer-block">
          <a href="{{"/" | relative_url }}">
            <img src="img/icn-sign-birthday.svg" class="img-fluid footer-icn active hvr-bob" alt="Sign Our Birthday Card">
          </a>  
              <a href="{{"/" | relative_url }}" class="footer-links"alt="">
                <p class="text-secondary">Sign Our<br/>Birthday Card</p>
              </a>
      </div>

      <div class="col footer-block">
        <a href="{{"/view-our-birthday-wishes" | relative_url }}">
          <img src="img/icn-birthday.svg" class="img-fluid footer-icn hvr-bob" alt="View Our Birthday Wishes">
        </a>  
            <a href="{{"/view-our-birthday-wishes" | relative_url }}" class="footer-links"alt="">
                <p class="text-secondary" class="text-secondary">View Our<br/>Birthday Wishes</p>
            </a>
      </div>

      <div class="col footer-block">
        <a data-toggle="modal" data-dismiss="modal" data-target="#boast-modal">
          <img src="img/icn-ace-story.svg" class="img-fluid footer-icn hvr-bob" alt="Submit Your ACE Story">
        </a>  
            <a data-toggle="modal" data-dismiss="modal" data-target="#boast-modal" class="footer-links"alt="">
                <p class="text-secondary">Submit Your<br/>ACE Story</p>
            </a>
      </div>

      <div class="col footer-block">
        <a href="{{"/ace-story" | relative_url }}">
          <img src="img/icn-watch-video.svg" class="img-fluid footer-icn hvr-bob" alt="View Your Ace Stories">
        </a>  
            <a href="{{"/ace-story" | relative_url }}" class="footer-links"alt="">
                <p class="text-secondary">View Your<br/>Ace Stories</p>
            </a>
      </div>

      <div class="col footer-block d-none">
        <a href="{{"/ace-history" | relative_url }}">
          <img src="img/icn-ace-50yrs.svg" class="img-fluid footer-icn hvr-bob" alt="The History of ACE Cash Express">
        </a>  
            <a href="{{"/ace-history" | relative_url }}" class="footer-links"alt="">
                <p class="text-secondary">The History of<br/>ACE Cash Express</p>
            </a>
      </div>


    </div>

    
    
  </div>
</footer>
<!--Footer End -->


<!--Copyright Start -->

<section class="copyright bg-white">
  <div class="container copyright">

  <div class="row">    

      <div class="col text-secondary d-none d-sm-block">
      <p class="copyright-txt text-secondary">Copyright © 2018 ACE Cash Express, Inc. All rights reserved.</p>  
      </div>
        
  </div>

  <div class="row">
  <div class="col mx-auto d-sm-none mt-5">
  <a href="http://www.facebook.com/acecashexpress" target="_blank"><img src="img/facebook-gray.svg" class="img-fluid" alt="Facebook"> </a>

    </div>

  </div>
    
  <div class="row">    
  
     <div class="col text-secondary d-sm-none">
      <p class="copyright-txt text-secondary">Copyright © 2018 ACE Cash Express, Inc.<br/>All rights reserved.</p>  
      </div>
        
  </div>

  </div>


</section>
<!--Copyright End-->

